# Le propriétaire d'un dossier est automatiquement demandé en relecture.


*                @TechwithXalifa @abdlaziz221

/contracts/      @TechwithXalifa @abdlaziz221
/docs/           @TechwithXalifa @abdlaziz221
/.github/        @TechwithXalifa @abdlaziz221

/engine/         @TechwithXalifa
/socle/          @TechwithXalifa
/canaux/         @TechwithXalifa

/backend/        @abdlaziz221
/web/            @abdlaziz221
